<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<style type="text/css">
		* {
			font-family: "Comic Sans MS";
		}
	</style>
</head>
<body>
	<h1>Hey</h1>
	<h3>What is your favorite baseball team?</h3>
	<form action="/teams" method="POST">
	Name: <input type="text" name="name">
	<input type="submit" name="" value="Enter info!">
	</form>
</body>
</html>