<!DOCTYPE html>
<html>
<head>
  <title>Ninjagold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    * {
      font-family: "Comic Sans MS";
    }
    p {
      font-size: 12px;
    }
    .building {
      text-align: center;
      background-color: gold;
      display: inline-block;
      width: 150px;
      margin: 5px;
      padding: 5px;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
