<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Full Friends</title>
    <style media="screen">
      * {
        font-family: sans-serif;
      }
      thead {
        background-color: cyan;
      }
      td {
        width: 300px;
      }
      input {
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>Friends</h1>

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Age</td>
          <td>Friend Since</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <fieldset>
      <legend>Add a Friend</legend>
      Name: <input type="text" name="name">
      Age: <input type="text" name="age">
      Friend Since: <input type="text" name="friend_since">
      <input type="submit" name="submit" value="Add Friend!">
    </fieldset>
  </body>
</html>
