<h1>Create a new user</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email <input type="text" name="user[email]" placeholder="Enter your email"=""></label>
  <label>Password <input type="text" name="user[password]" placeholder="Enter your password"=""></label>
  <label>Password Confirmation <input type="text" name="user[password_conf]" placeholder="Confirm password"=""></label>
  <input type="submit" name="" value="Create user!">
</form>

<h2>Login an existing user</h2>

<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email <input type="text" name="user[email]" placeholder="Enter your email"=""></label>
  <label>Password <input type="text" name="user[password]" placeholder="Enter your password"=""></label>
  <label>Password Confirmation <input type="text" name="user[password_conf]" placeholder="Confirm password"=""></label>
  <input type="submit" name="" value="Login!">
</form>
