body {
  max-width: 970px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #235076;
}

img {
  width: 400px;
}

.header-right {
  display:inline-block;
	vertical-align: top;
  margin-left: 300px;
}

.header-right p {
  text-align: right;
  font-size: 12px;
  color: white;
}

.header-right a {
  color: #FFD52D;
}

.searchbox-container {
  padding: 20px;
  background-color: #434443;
  box-shadow: 2px 2px 2px black;
  border-radius: 15px;
  display: inline-block;
}

input {
  text-align: center;
}

button {
  background-color: #285B87;
  border-radius: 10px;
  box-shadow: 2px white;
  color: white;
}

#main-nav {
  background-color: #447DAC;
  margin: 0 80px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #1F1D1B;
}

#main-nav ul {
  list-style: none;
  text-align: center;
}

#main-nav ul li {
  display: inline;
  margin-left: 15px;
  font-size: 24px;
}

#main-nav ul li a {
  text-decoration: none;
  color: white;
}

.left-content {
  text-align: center;
  margin-left: 150px;
  width: 200px;
  vertical-align: top;
  display: inline-block;
}

#side-nav {
  color: white;
}

#side-nav ul li {
  color: white;
  line-height: 1.5em;

}

#side-nav ul li a {
  color: white;
}

.right-content {
  margin-left: 60px;
  text-align: center;
  width: 400px;
  display: inline-block;
}

.smalltxt {
  color: white;
  font-size: 12px;
}

.yellowtxt {
  line-height: 1.5em;
  font-style: italic;
  color: #FFD52D;
}

.zen {
  color: white;
}

.midleft {
  width: 400px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  border-top: solid 5px #72A7D4;
  background-color: white;
  display: inline-block;
  vertical-align: top;
}

.midleft p {
  font-size: 14px;
}

.midleft li {
  font-size: 14px;
  color: #78AAD5;
}

.midright {
  width: 400px;
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  border-top: solid 5px #72A7D4;
  background-color: white;
  display: inline-block;
}

.midright p {
  font-size: 14px;
}

.midright li {
  font-size: 14px;
  color: #78AAD5;
}

.footer {
  padding: 20px 20px 2px 20px;
  text-align: center;
  background: linear-gradient(#245278, #3374AD);
}

.footer ul li {
  padding: 20px 20px 0 20px;
  display: inline;
  list-style: none;
  color: #87B9E4;
}

.footer p {
  color: #87B9E4;
  font-size: 10px;
}
